.border {
    border: 2px solid rgb(12, 12, 12);
    border-radius: 10px;
}
.border{
    border: 5px solid red;
    border-radius: 10px;
}
h2{
    background-color:brown;
}
p{
    color:darkcyan;
}
.border p{
    color: white;
}